<h1> This is a test for Orders.handlebars</h1>

<h1> you can only access this if you are a logged in user, protected see javascript code for function</h1>

<ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a rhref="/mp">View Meal Packages</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
